* {
	font-family: "RobotoDraft";
	font-weight: 300;
}

core-drawer-panel:not([narrow]) #menuIcon {
	display: none;
}

core-toolbar {
	background-color: #4CAF50;
	color: white;
}

core-menu {
	color: #4CAF50;
	margin: 10px 0 0 0;
}

core-menu > paper-item {
	height: 80%;
	transition: all 300ms ease-in-out;
}

core-menu > paper-item.core-selected {
	background: #e1f5fe;
}

#navMenu {
	background-color: white;
}

#searchIcon {
	background-color: white;
}

core-drawer-panel > core-header-panel > div > div.content {
	border-radius: 5px;
	background-color: white;
	width: 92%;
	height: 100%;
	padding: 0.2%;
	-webkit-user-select: none;
}

@media all and (max-width: 480px) {
	core-drawer-panel > core-header-panel > div.content {
		width: 100%;
		height: 100%;
	}
}