.layout {
    padding-left: 12px;
    padding-right: 12px;
}

.sp-logo {
	font-weight: bold;
	color: white;
}

.navbar-default .navbar-nav>li>a {
	color: white;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

.navbar-default .navbar-toggle {
	border-color: #43a047;
}

.form-search {
	max-width: 180px;
	float: left;
}

div#searched-builds {
	padding-left: 24px;
	float: left;
}

.lbl {
	font-weight: bold;
}