<link rel="import" href="../../../static/components/polymer/polymer.html">
<link rel="import" href="../../../static/components/core-elements/core-elements.html">
<link rel="import" href="../../../static/components/paper-elements/paper-elements.html">

<polymer-element name="layout-m" attributes="">

    <template>
        <link rel="stylesheet" href="../../../static/css/layout-main.css">
        
        <core-drawer-panel id="coreDrawerPanel" transition touch-action>

			<core-header-panel id="navMenu" mode="seamed" navigation drawer>

				<core-toolbar>
					<span>JM2</span>
				</core-toolbar>

				<core-menu
                    id="menu"
                    selected="{{ selectedMenuIndex }}"
                    selectedItem="{{ selectedMenu }}">
					
					<template repeat="{{ menuItem in menuData }}">
                        <core-item label="{{ menuItem.label }}" icon="{{ menuItem.icon }}">
                            <a href="{{ menuItem.href }}" target="_self"></a>
                        </core-item>
                    </template>

				</core-menu>

			</core-header-panel>

			<core-header-panel mode="seamed" main>

				<core-toolbar>

					<core-icon
						id="menuIcon" 
						icon="menu" 
						on-tap="{{ togglePanel }}">
					</core-icon>
					
					<div flex>
						<core-item icon="{{ selectedMenu.icon }}">
                            {{ selectedMenu.label }} <div style="padding-left: 60%">A.P.I. 1160</div>
                        </core-item>
					</div>

				</core-toolbar>

				<div horizontal center-justified layout>
					<div class="content">
						
						<content></content>
							
					</div>
				</div>

			</core-header-panel>

		</core-drawer-panel>
        
    
    </template>

    <script>
    
        Polymer('layout-m', {
            
            selectedMenuIndex: 0,
            menu: {},
            
            menuData: [
                { label: 'Inicio', icon: 'accessibility', href: '#' },
                { label: 'Inmuebles', icon: 'home', href: '#' },
            ],
            
            
			ready : function() {
                this.menu = this.$.menu;
			},
            
            togglePanel : function() {
				this.$.coreDrawerPanel.togglePanel();
			},
            
            setSelectedMenuItem: function(index) {
                this.selectedMenuIndex = index;
            }
            
		});
    
    </script>

</polymer-element>