<link rel="import" href="../layouts/layout-m.html">
<link rel="import" href="../view/home-view.html">
<link rel="import" href="../controller/build-controller.html">
<link rel="import" href="../../../static/components/google-map/google-map.html">

<polymer-element name="app-controller">

    <template>
        
        <layout-m id="layout">
            
            <content>
                
                <core-pages
                    selected="{{ $.layout.menu.selected }}"
                    transitions="slide-from-right">
                    <div>
                        <home-view></home-view>
                    </div>
                    
                    <div>
                        <build-controller id="buildController"></build-controller>
                    </div>
                </core-pages>
                    
            </content>
        
        </layout-m>
        
                
        
    </template>

    <script>
    
        Polymer('app-controller', {
            
            ready: function() {
                
            }
            
		});
    
    </script>

</polymer-element>