<link rel="import" href="../view/build-view.html">

<polymer-element name="build-controller">

    <template>
        
        <build-view id="view"></build-view>
        
        <core-ajax id="ajaxBuilds"
            url="{{ url }}"
            method="POST"
            handleAs="json"
            response="{{ $.view.builds }}">
        </core-ajax>
        
    </template>
    
    <script>
        
        Polymer('build-controller', {
            
            url: '/app' + '/builds',
            builds: [],
            
			ready: function() {
				
                var ajax = this.$.ajaxBuilds;
                
                var submitForm = function(event) {
                    var params = $(this).serializeObject();
                    
                    console.log(params);
                    ajax.params = params;
                    ajax.go();
                };
                
                
                this.$.view.search.form.submit = submitForm;
			}
			
		});
    
    </script>

</polymer-element>