<link rel="import" href="../model/build-element.html">
<link rel="import" href="../model/search-element.html">

<polymer-element name="build-view">

    <template>
        
        <div>
            <div style="padding-left: 6%; padding-right: 6%;"">
            	<div>
                	<search-element id="search"></search-element>
                </div>
            </div>
            
            <div>
                <div vertical layout>

                    <template repeat="{{ build in builds }}">

                        <build-element
                            identifier="{{ build.id }}"
                            state="{{ build.state }}"
                            price="{{ build.price }}"
                            comment="{{ build.comment }}"
                            lastUpdate="{{ build.lastUpdate }}"
                            type="{{ build.type }}"
                            location="{{ build.location }}"
                            features="{{ build.features }}"
                            equipments="{{ build.equipments }}"
                            principalImagePath="{{ build.principalImagePath }}"
                            imagesPath="{{ build.imagesPath }}">
                        </build-element>

                    </template>

                </div>
            </div>
            
        </div>
    </template>

    <script>
    
        Polymer('build-view', {
            
            builds: [],
            search: {},
            
			ready : function() {
                this.search = this.$.search;
			}
            
		});
    
    </script>

</polymer-element>