<link rel="import" href="../../../static/components/google-map/google-map.html">

<polymer-element name="home-view">

    <template>
        
        <style>
            .container {
                margin: 6px;
                background-color: #E8F5E9;
                border: 1px solid #43A047;
                border-radius: 2px;
            }
            
            .title {
                padding: 12px;
                font-size: 18px;
                border-bottom: 1px solid #43A047;
                background-color: #4CAF50;
                color: white;
            }
            
            .content {
                margin: 6px;
            }
            
            .contact {
                max-width: 360px;
            }
            
            .who {
                max-width: 540px;
            }
            
            .lbl {
				font-weight: bold;
            }
            
            google-map {
				height: 420px;
				margin: 6px;
			}
        </style>
        
        <div layout horizontal wrap>
            <div>
                <div class="container who">
                    <div class="title">
                        Quienes somos
                    </div>
                    <div class="content">
                        Somos un grupo de profesionales con una dilatada experiencia inmobiliaria y jurídica. <br /><br />
                        Acompañamos a nuestros clientes durante todo el proceso de compra-venta, alquiler o traspasos de su casa local oficina, nave, terreno rustico etc, asesorándoles y apoyándoles en todos los aspectos inmobiliarios y jurídicos hasta que se concluya la operación. <br /><br />
                        Además también ofrecemos certificaciones energéticas sin intermediarios y con precios muy económicos.
                    </div>
                </div>
            </div>

            <div>
                <div class="container contact">
                    <div class="title">
                        Contacto
                    </div>
                    <div class="content">
                        Sector Oficios 6 y 7. Tres Cantos (Madrid). <br />
                        <span class="lbl">Email:</span> info@jm2inmobiliaria.es <br />
                        <span class="lbl">Telefono fijo:</span> 91 804 26 25 <br />
                        <span class="lbl">Telefono movil:</span> 606 45 44 82 <br />
                    </div>
                    <div>
                        <google-map
                        	latitude="40.6064433"
                        	longitude="-3.7145412,1"
                        	zoom="16"
                        	fitToMarkers>
                        	<google-map-marker
                        		latitude="40.6064433"
                        		longitude="-3.7145412"
                        		draggable="true"
                        		title="JM2 Inmobiliaria">
                        	</google-map-marker>
                        </google-map>
                    </div>
                </div>
            </div>
        </div>
                
    </template>
    
    <script>
    
        Polymer('home-view', {
            
            ready: function() {
                
            }
            
		});
    
    </script>

</polymer-element>