<link rel="import" href="contact-element.html">

<polymer-element name="build-element"
    attributes="identifier
                state
                price
                comment
                lastUpdate
                type
                location
                features
                equipments
                principalImagePath
                imagesPath">

    <template>
       
        <style>
            .build {
                margin: 6px;
                background-color: #E8F5E9;
                border: 1px solid #43A047;
                border-radius: 2px;
            }
            
            .titleBuild {
                padding: 12px;
                font-size: 18px;
                border-bottom: 1px solid #43A047;
                background-color: #4CAF50;
                color: white;
            }
            
            .priceBuild {
                padding: 0px;
            }
            
            .price {
                padding-left: 4px;
                padding-right: 6px;
                color: #43A047;
            }
            
            .imageMainBuild {
                width: 160px;
                height: 160px;
                margin: 6px;
            }
            
            .imageBuild {
                width: 480px;
                height: 480px;
                margin: 6px;
            }
            
            .commentBuild {
                max-width: 320px;
                margin: 2px;
                padding: 6px;
            }
            
            .infoContainer {
                margin: 6px;
                background-color: #E8F5E9;
                border: 1px solid #43A047;
                border-radius: 4px;
            }
            
            .infoTitle {
                padding: 12px;
                font-size: 16px;
                border-bottom: 1px solid #43A047;
                background-color: #4CAF50;
                color: white;
            }
            
            .infoBuild {
                padding: 12px;
                background-color: white;
            }
            
            .buttonDetail {
            	margin: 4px;
                background-color: #4CAF50;
                color: white;
            }
        </style>
        
        <div layout vertical class="build">
            
            <div class="titleBuild">
                {{ location }} - {{ state }}
            </div>
            
            <div horizontal layout center-justified>
                <div class="commentBuild">
                    {{ comment }}
                </div>
                
                <div>
                    <core-image class="imageMainBuild" sizing="cover" src="{{ principalImagePath }}">
                    </core-image>
                </div>
            </div>
            
            <div horizontal layout around-justified>
                <div>
                    <paper-button 
                        on-click="{{ toggleBuild }}"
                        class="buttonDetail"
                        raised noink>
                        {{ wordToggle }} detalle
                    </paper-button>
                </div>
                <div>
                	<paper-button 
                        on-click="{{ showContact }}"
                        class="buttonDetail"
                        raised noink>
                        	Solicitar contacto
                    </paper-button>
            		<contact-element buildIdentifier="{{ identifier }}" id="contact"></contact-element>
                </div>
                <div class="priceBuild">
                    <h3 class="price">
                        {{ price }}
                    </h3>
                </div>
            </div>
            
            <core-collapse id="collapseContent">
                
                <div horizontal layout around-justified>
                    <div class="infoContainer">
                        <div class="infoTitle">Caracteristicas</div>
                        <div class="infoBuild">
                            <template repeat="{{ feature in features }}">
                                <core-item
                                    icon="check"
                                    label="{{ feature }}">
                                </core-item>
                            </template>
                        </div>
                    </div>

                    <div class="infoContainer">
                        <div class="infoTitle">Equipamientos</div>
                        <div class="infoBuild">
                            <template repeat="{{ equipment in equipments }}">
                                <core-item
                                    icon="check"
                                    label="{{ equipment }}">
                                </core-item>
                            </template>
                        </div>
                    </div>
                </div>
                <div>
                    <div>Imagenes</div>
                    <div horizontal layout wrap>
	                    <template repeat="{{ image in imagesPath }}">
	                        <core-image class="imageBuild" src="{{ image }}">
	                        </core-image>
	                    </template>
                    </div>
                </div>
            </core-collapse>
            
        </div>
        
    </template>

    <script>
    
        Polymer('build-element', {
            
            wordToggle: 'Mostrar',
            
			ready : function() {
                this.features = this.features.split(',');
                this.equipments = this.equipments.split(',');
                this.imagesPath = this.imagesPath.split(',');
			},
            
            toggleBuild : function() {
                this.$.collapseContent.toggle();
                if (this.wordToggle == 'Mostrar') {
                    this.wordToggle = 'Ocultar';
                } else {
                    this.wordToggle = 'Mostrar';
                }
            },
            
            showContact: function() {
				this.$.contact.toggle();
            }
            
		});
    
    </script>

</polymer-element>