<link rel="import" href="../../../static/components/google-map/google-map.html">

<polymer-element name="contact-element" attributes="buildIdentifier">

	<template>
		<style>
			core-overlay {
                margin: 6px;
                border-radius: 2px;
            }
            
            .title {
                padding: 12px;
                font-size: 18px;
                border-bottom: 1px solid #43A047;
                background-color: #4CAF50;
                color: white;
            }
            
            core-overlay > div {
            	margin: 6px;
                background-color: #E8F5E9;
                border: 1px solid #43A047;
                border-radius: 2px;
            }
			
			paper-input-decorator {
                padding: 12px;
            }
            
            paper-input-decorator /deep/ .focused-underline {
                background-color: #43A047;
            }
            
            paper-input-decorator[focused] /deep/ .floated-label .label-text {
               color: #43A047;
            }
            
            paper-button {
                background-color: #4CAF50;
                color: white;
            }
		</style>
		
		<core-overlay
			id="overlay"
			layered backdrop opened="{{opened}}"
			autoCloseDisabled="{{autoCloseDisabled}}"
			transition="core-transition-center">
		<div class="title">Solicitud de contacto</div>
		<div class="content">
			<form>
				<paper-input-decorator
					floatingLabel
					label="Nombre">
					<input name="name" />
				</paper-input-decorator>
				<paper-input-decorator
					floatingLabel
					label="Telefono">
					<input name="name" />
				</paper-input-decorator>
				<paper-input-decorator
					floatingLabel
					label="Correo electronico">
					<input name="name" />
				</paper-input-decorator>
				
				<div horizontal layout center-justified>
					<paper-button raised core-overlay-toggle>
						Enviar
					</paper-button>
				</div>
			</form>
		</div>
		</core-overlay>
	
	</template>
	
    <script>
    
        Polymer('contact-element', {
            
            ready: function() {
				this.$.overlay.target = this;
			},
	
			toggle: function() {
				this.$.overlay.toggle();
			}
            
		});
    
    </script>

</polymer-element>