<polymer-element name="search-element">

    <template>
        
        <style shim-shadowdom>
            .search {
                margin: 6px;
                background-color: #E8F5E9;
                border: 1px solid #43A047;
                border-radius: 2px;
            }
            
            .titleSearch {
                padding: 12px;
                font-size: 18px;
                border-bottom: 1px solid #43A047;
                background-color: #4CAF50;
                color: white;
            }
            
            .groupForm {
                padding: 4px;
            }
            
            .labelForm {
                width: 42%;
                color: #43A047;
                padding: 2px;
                padding-right: 6px;
            }
            
            .buttonSearch {
                background-color: #4CAF50;
                color: white;
            }
            
            paper-input-decorator {
                padding: 12px;
            }
            
            paper-input-decorator /deep/ .focused-underline {
                background-color: #43A047;
            }
            
            paper-input-decorator[focused] /deep/ .floated-label .label-text {
               color: #43A047;
            } 
        </style>
        
        <div class="search">
            <div class="titleSearch">
                Busqueda
            </div>
            
            <form id="formSearch">
            <div horizontal layout wrap>
            
            	<div horizontal layout>
				<div class="groupForm">
					<paper-input-decorator floatingLabel label="Inmbueble">
						<paper-dropdown-menu label="Que esta buscando">
							<paper-dropdown class="dropdown">
								<core-selector selected="{{ type }}" class="">
									<paper-item name="Piso">Piso</paper-item>
									<paper-item name="Chalet">Chalet</paper-item>
								</core-selector>
							</paper-dropdown>
						</paper-dropdown-menu>
						<input type="hidden" name="type" value="{{ type }}"/>
					</paper-input-decorator>
				</div>
                
                <div class="groupForm">
                   	<paper-input-decorator floatingLabel label="Localizacion">
                       <paper-dropdown-menu label="Localizacion">
					    <paper-dropdown class="dropdown">
					        <core-selector selected="{{ location }}" class="">
	                        	<paper-item name="Madrid">Madrid</paper-item>
	                        </core-selector>
					    </paper-dropdown>
					</paper-dropdown-menu>
					<input type="hidden" name="location" value="{{ location }}"/>
					</paper-input-decorator>
                </div>
                
                <div class="groupForm">
                	<paper-input-decorator floatingLabel label="Estado">
						<paper-dropdown-menu label="Estado">
							<paper-dropdown class="dropdown">
								<core-selector selected="{{ state }}" class="">
									<paper-item name="Alquiler">Alquiler</paper-item>
									<paper-item name="Venta">Venta</paper-item>
									<paper-item name="Transpaso">Transpaso</paper-item>
								</core-selector>
							</paper-dropdown>
						</paper-dropdown-menu>
						<input type="hidden" name="state" value="{{ state }}"/>
					</paper-input-decorator>
                </div>
                </div>
                
                <div horizontal layout>
	                <div class="groupForm"
	                	style="width: 120px">
	                     <paper-input-decorator
	                     	floatingLabel
	                     	label="Precio minimo:">
	                     	<input name="priceMin" />
	                     </paper-input-decorator>
	                </div>
	                
	                <div class="groupForm"
	                	style="width: 120px">
	                     <paper-input-decorator
	                     	floatingLabel
	                     	label="Precio maximo:">
	                     	<input name="priceMax" />
	                     </paper-input-decorator>
	                </div>
                </div>
                
                <div vertical layout center-justified>
                    <paper-button
                        is="button"
                        on-click="{{ submitForm }}"
                        class="buttonSearch"
                        raised>
                        Buscar
                    </paper-button>
                    
                </div>
            </div>
            </form>
            
        
        </div>
        
    </template>

    <script>
    
        Polymer('search-element', {
            
            form: {},
            
			ready : function() {
				this.form = this.$.formSearch;
			},
            
            getForm: function() {
                return this.$.formSearch;
            },
            
            submitForm: function() {
                this.$.formSearch.submit();
            }
            
		});
    
    </script>

</polymer-element>